body {
    background-color: #313131;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

h1,h2,h3,p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

/*  */

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 2rem auto;
    background-color: #232323;
    border-radius: 0.5rem;
}

.info {
    text-align: center;
}
.info .name {
    font-size: 2.5rem;
    margin-top: 0.1rem;
}
.info .role {
    font-weight: 600;
    color: #ffb11f;
    font-size: 1.1rem;
    margin-top: 0.1rem;
}
.info .website {
    font-size: 1.1rem;
}

.about-section, .interest-section {
    padding: 0 0.6rem;
    margin-top: 1.5rem;
}
.about-section {
    margin-top: 1rem;
}
.about-heading, .interest-heading {
    font-size: 1.8rem;
}
.about-para, .interest-para {
    font-size: 1.1rem;
    line-height: 1.35rem;
}
.interest-section {
    margin-bottom: 1rem;
}

.profile-pic {
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

footer {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 0.5rem 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.footer-logo {
    width: 2rem;
}