@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --navbar-bg-color: #F55A5A;
    --location-color: #918E9B;
}
body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

/*  */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F55A5A;
    padding: 1.3rem;
}

.nav-heading {
    font-size: 1.8rem;
    font-weight: 500;
}

.locations {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 2.5rem auto;
    gap: 1.5rem;
}

.location-card {
    display: flex;
    align-items: center;
    max-width: 950px;
    margin: auto;
}

.location-data {
    padding: 1rem 1rem 1rem 1.8rem;
}

.location-img img {
    width: 14rem;
    height: 20rem;
    border-radius: 0.8rem;
}

.geo-location {
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem;
}
.geo-location img {
    padding-right: 0.1rem;
}
.location-data .location {
    font-size: 1.4rem;
    letter-spacing: 3px;
    padding-right: 1.3rem;
}
.google-maps {
    font-size: 1.3rem;
    color: var(--location-color);
    text-decoration: underline 2px var(--location-color);
}

.location-title {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    line-height: 3.6rem;
}

.date {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.location-description {
    font-size: 1.15rem;
    line-height: 1.7rem;
}

@media (max-width:780px) {
    .location-title {
        font-size: 2.5rem;
    }
}

@media (max-width:732px) {
    .location-title {
        margin-bottom: 1.2rem;
    }
    .location-description {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

@media (max-width:692px) {
    .location-img img {
        width: 10.5rem;
        height: 18rem;
        border-radius: 0.8rem;
    }
    .location-data .location {
        font-size: 1.2rem;
        letter-spacing: 3px;
        padding-right: 1rem;
    }
    .location-title {
        font-size: 2.2rem;
        margin-bottom: 0rem;
        line-height: 2.8rem;
    }
    .google-maps {
        font-size: 1.2rem;
    }
}

@media (max-width:600px) {
    .google-maps {
        display: none;
    }
    .location-img img {
        width: 100%;
        height: 20rem;
    }
    .location-card {
        display: grid;
    }
    .location-data {
        padding: 0.5rem;
        margin-bottom: 1.5rem;
    }
    .locations {
        margin: 0.5rem auto;
    }
    .location-card {
        border-bottom: 2px solid gray;
    }
}

@media (max-width:344px) {
    nav {
        padding: 1.2rem 0.5rem;
    }
}